
@{
    Layout = null;
}

@{
    ViewData["Title"] = "Access Denied";
}

<h2>Access Denied</h2>
<p>You do not have permission to access this page.</p>

<a href="@Url.Action("Login", "User")">Go to Login page</a>
